* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    background: none;
    list-style: none;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 50px 5%;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 2.5%;
        .logo {
            height: 100px;
            width: 100px;
            margin-right: 3%;
            background-color: #d0e2f4;
            transition: all 3s;
            .block {
                height: 100px;
                width: 100px;
                background-color: #d0e2f4;
                line-height: 100px;
                text-align: center;
                font-size: 26px;
                transition: all 3s;
            }
        }
        .primary-title {
            font-size: 46px;
            transition: all 3s;
            transform: scale(0);
        }
    }
    .main {
        display: flex;
        border: 1px solid black;
        margin-top: 30px;
        position: relative;
        .menu-section {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #d0e2f4;
            padding-bottom: 10px;
            .btn-wrap {
                .btn {
                    width: 100%;
                    display: block;
                    padding: 10px 2%;
                    border: 1px solid #d0e2f4;
                    border-right: 1px solid black;
                    border-bottom: 1px solid black;
                    border-collapse: collapse;
                    font-size: 26px;
                    text-align: start;
                    transition: all 2s;
                    &:hover {
                        cursor: pointer;
                        background-color: #d9d2e9;
                    }
                    &:active {
                        border: 1px solid black;
                        transform: scale(.8);
                    }
                }
                .active-btn {
                    background-color: #d9d2e9;
                    border-right: #d9d2e9;
                }
            }
            .year {
                text-align: center;
            }
        }
        .content-section {
            width: 70%;
            background-color: #d9d2e9;
            .content {
                display: none;
                padding: 10px 3%;
                font-size: 18px;
                background-color: #d9d2e9;
                transition: all 5s;
                .content__img {
                    width: 100%;
                    display: block;
                    margin: 0 auto;
                    padding-bottom: 20px;
                }
                .content__text {
                    text-indent: 15px;
                    margin-bottom: 12px;
                }
                .content__item {
                    display: block;
                    padding: 10px 0;
                    font-size: 20px;    
                    font-weight: 700;
                }
            }
            .active-content {
                display: block;
            }
        }
        .square {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -25px;
            right: -25px;
            background-color: #d0e2f4;
            transition: transform 2s;
            .square__box {
                width: 35px;
                height: 35px;
                background-color: #d9d2e9;
                transition: all 2s;
            }
            .square__box:hover {
                cursor: pointer;
                background-color: #e06a6a;
                width: 50px;
                height: 50px;
            }

        }
        .square:hover {
            transform: rotate(720deg);
        }
    }
}

// media screen  max-570px
@media screen and (max-width: 570px) {
    .wrapper {
        min-width: 350px;
        .header {
            padding: 15px 6%;
            .logo {
                height: 75px;
                width: 75px;
                .block {
                    height: 75px;
                    width: 75px;
                    line-height: 75px;
                    font-size: 20px;
                }
            }
            .primary-title {
                text-align: center;
                font-size: 30px;
            }
        }
        .main {
            margin-top: 20px;
            .menu-section {
                .btn-wrap {
                    .btn {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
                .year {
                    font-size: 14px;
                }
            }
            .content-section {
                .content {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    font-size: 14px;
                    .content__img {
                        padding-bottom: 10px;
                    }
                    .content__text {
                        text-indent: 10px;
                    }
                    .content__item {
                        padding: 5px 0;
                        font-size: 16px;    
                    }
                }
            }
            .square {
                width: 30px;
                height: 30px;
                top: -15px;
                right: -15px;
                .square__box {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
}