* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background: none;
  list-style: none;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 5%;
}
.wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 2.5%;
}
.wrapper .header .logo {
  height: 100px;
  width: 100px;
  margin-right: 3%;
  background-color: #d0e2f4;
  transition: all 3s;
}
.wrapper .header .logo .block {
  height: 100px;
  width: 100px;
  background-color: #d0e2f4;
  line-height: 100px;
  text-align: center;
  font-size: 26px;
  transition: all 3s;
}
.wrapper .header .primary-title {
  font-size: 46px;
  transition: all 3s;
  transform: scale(0);
}
.wrapper .main {
  display: flex;
  border: 1px solid black;
  margin-top: 30px;
  position: relative;
}
.wrapper .main .menu-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d0e2f4;
  padding-bottom: 10px;
}
.wrapper .main .menu-section .btn-wrap .btn {
  width: 100%;
  display: block;
  padding: 10px 2%;
  border: 1px solid #d0e2f4;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
  font-size: 26px;
  text-align: start;
  transition: all 2s;
}
.wrapper .main .menu-section .btn-wrap .btn:hover {
  cursor: pointer;
  background-color: #d9d2e9;
}
.wrapper .main .menu-section .btn-wrap .btn:active {
  border: 1px solid black;
  transform: scale(0.8);
}
.wrapper .main .menu-section .btn-wrap .active-btn {
  background-color: #d9d2e9;
  border-right: #d9d2e9;
}
.wrapper .main .menu-section .year {
  text-align: center;
}
.wrapper .main .content-section {
  width: 70%;
  background-color: #d9d2e9;
}
.wrapper .main .content-section .content {
  display: none;
  padding: 10px 3%;
  font-size: 18px;
  background-color: #d9d2e9;
  transition: all 5s;
}
.wrapper .main .content-section .content .content__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
.wrapper .main .content-section .content .content__text {
  text-indent: 15px;
  margin-bottom: 12px;
}
.wrapper .main .content-section .content .content__item {
  display: block;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
.wrapper .main .content-section .active-content {
  display: block;
}
.wrapper .main .square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -25px;
  right: -25px;
  background-color: #d0e2f4;
  transition: transform 2s;
}
.wrapper .main .square .square__box {
  width: 35px;
  height: 35px;
  background-color: #d9d2e9;
  transition: all 2s;
}
.wrapper .main .square .square__box:hover {
  cursor: pointer;
  background-color: #e06a6a;
  width: 50px;
  height: 50px;
}
.wrapper .main .square:hover {
  transform: rotate(720deg);
}

@media screen and (max-width: 570px) {
  .wrapper {
    min-width: 350px;
  }
  .wrapper .header {
    padding: 15px 6%;
  }
  .wrapper .header .logo {
    height: 75px;
    width: 75px;
  }
  .wrapper .header .logo .block {
    height: 75px;
    width: 75px;
    line-height: 75px;
    font-size: 20px;
  }
  .wrapper .header .primary-title {
    text-align: center;
    font-size: 30px;
  }
  .wrapper .main {
    margin-top: 20px;
  }
  .wrapper .main .menu-section .btn-wrap .btn {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 600;
  }
  .wrapper .main .menu-section .year {
    font-size: 14px;
  }
  .wrapper .main .content-section .content {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
  }
  .wrapper .main .content-section .content .content__img {
    padding-bottom: 10px;
  }
  .wrapper .main .content-section .content .content__text {
    text-indent: 10px;
  }
  .wrapper .main .content-section .content .content__item {
    padding: 5px 0;
    font-size: 16px;
  }
  .wrapper .main .square {
    width: 30px;
    height: 30px;
    top: -15px;
    right: -15px;
  }
  .wrapper .main .square .square__box {
    width: 20px;
    height: 20px;
  }
}/*# sourceMappingURL=style.css.map */